@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap');

:root{
    --blue: #e91a63;
    --black: #1f283f;
    --light-color: rgb(77, 75, 75);
    --box-shadow: .5rem .5rem 0 rgba(22,160,133,.2);
    --text-shadow: .4rem .4rem 0 rgba(0,0,0,.2);
    --border: .2rem solid var(--black);
}
*{
    font-family:'Nunito', serif;
    box-sizing: border-box;
    padding: 0; margin: 0;
    text-decoration: none;
    outline: none;
    text-transform: capitalize;
    border: none;
    transition: all 0.3s linear;
}

html{
    font-size: 63.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 9rem;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: #30bfe2;
    border-radius: 5rem;
}

section{
    padding: 2rem 8%;
}


section:nth-child(even){
    background: rgb(226, 222, 222);
}

.heading{
    text-align: center;
    color: var(--black);
    font-size: 4rem;
    padding-bottom: 2.5rem;
    margin-top: 2rem;
    text-transform: uppercase;
    text-shadow: var(--text-shadow);
}
.heading span{
    text-transform: uppercase;
    color: var(--blue);
}


.btn{
    display: inline-block;
    margin-top: 1rem;
    border: var(--border);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    padding: .5rem;
    color: var(--black);
    padding-left: 1rem;
    cursor: pointer;
    font-size: 1.7rem;
    background: #fff;
}

.btn .fas{
    padding: .7rem 1rem;
    border-radius: .5rem;
    margin-left: .5rem;
    color: #fff;
    background: var(--black);
}
.btn:hover{
    color: #fff;
    background: var(--black); 
}

.btn:hover .fas{
    color: var(--black);
    background: #fff;
    margin-left: 1rem;
}


.home{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding-top: 8rem ;
}

.home::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(#f00, #f0f);
    clip-path: circle(30% at right 70% );
    z-index: -1;
    
}
.home::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(#2196f3, #e91a63);
    clip-path: circle(26% at 10% 10%);
    z-index: -1;
}


.home .image{
    flex: 1 1 45rem;
    
}

.home .image img{
    width: 100%;
    height: 55rem;
    border-radius: .7rem;
}

.home .content{
    flex: 1 1 42rem;
}

.home .content h3{
    font-size: 2.2rem;
    color: var(--light-color);
    line-height: 1;
}

.home .content p{
    color: var(--black);
    text-shadow: var(--text-shadow);
    font-size: 7rem;
    line-height: 1.8;
}
.home .content h4{
    color: var(--black);
    font-size: 2rem;
    margin-bottom: 1.5rem;
  
}


.home .content h2{
    color: var(--black);
    text-shadow: var(--text-shadow);
    margin-top: 4rem;
    font-size: 2.3rem;
}

.home .content .big{
    color: rgb(44, 159, 194);
    font-size: 3.5rem;
}

.home .content #play{
    margin-top: 2rem;
    font-size: 3rem;
}

.about p{
    font-size: 1.6rem;
    margin-bottom: 2rem;
}

.about .big{
    font-size: 3rem;
}


.movie .carousel .card{
    border-radius: .4rem;
    padding: 25px 35px;
    transition: all 0.4s ease;
}

.movie .carousel .card:hover .box{
    transform: scale(1.05);
}
.movie .carousel .card .box{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.movie .carousel .card .text{
    color: #000;
    margin: 10px 0 7px 0;
    font-size: 2.5rem;
    font-weight: 500;
}
.movie .carousel .card .text-2{
    color: rgb(66, 65, 65);
    font-size: 1.6rem;
    opacity: 0.7;
    margin-bottom: .7rem;
    font-family: 'Roboto Mono', sans-serif;
}
.movie .carousel .card img{
    width: 30rem;
    height: 40rem;
    border-radius: .6rem;
    object-fit: cover;
    transition: all 0.4s ease;
    border: .5rem solid #000;
}


.owl-dots{
    text-align: center;
    margin-top: 20px;
}
.owl-dot{
    height: 13px;
    width: 13px;
    margin: 0 5px;
    outline: none !important;
    border-radius: 50%;
    border: 2px solid #000 !important;   
}
.owl-dot.active{
    width: 35px;
    border-radius: 14px;
}

.owl-dot.active,
.owl-dot:hover{
    background: #000 !important;
}

.stories .story .romance, .stories .story .marriage
{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 7rem;
}

.stories .story  .content{
    flex: 1 1 30rem;
}

.stories .story .content h2{
    font-size: 2.5rem;
    margin-bottom: 2.2rem;
}

.stories .story .content p{
    font-size: 1.5rem;
    margin-bottom: 2rem;
}


.stories .story .art{
    flex: 1 1 25rem;
    padding-top: 2rem;
    width: 30rem;
    height: 35rem;
    transform: rotateZ(-10deg);
}


.stories .story .art img{
    border: 2rem solid #f6f6f6;
    width: 100%;
    height: 100%;
    
}

.collections{
    padding: 2rem 16%;
}

.collections .video-container{
    height: 45rem;
  
}

.collections .video-container video{
    width: 100%;
    height: 100%;
}

.collections .video-controls{
    text-align: center;

}

.collections .video-controls h2{
    font-size: 2.5rem;
    margin: 2rem 0;
}

.collections .video-controls i{
    font-size: 3rem;
    margin: 0 2rem;
}

footer .credit{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-top: 10rem;
    padding: 1rem;
    color: var(--black);
 }

 footer  .credit span{
    color: var(--blue);
   
}

footer .credit span:hover{
    text-decoration: underline;
}


@media (max-width: 450px){
    html{
        font-size: 50%;
    }
    footer  .credit{
        font-size: 1.7rem;
    }
} 

@media (max-width: 600px){
    .home .content h3{
        font-size: 1.8rem;
    }

    .home .content p{
        font-size: 6rem;
    }

    .collections .video-container{
        height: 26rem;
    }
    .collections .video-controls h2{
        font-size: 2.2rem;
        margin: 2rem 0;
    }
    .collections .video-controls i{
        font-size: 2.2rem;
        margin: 0 2rem;
    }
}

@media (max-width: 350px){
    .home .content h3{
        font-size: 1.6rem;
    }

    .home .content p{
        font-size: 4.5rem;
    }
    .collections .video-controls{
        margin-top: -6rem;
    }
}

@media (max-width: 400x){
    .collections .video-container{
        height: 25rem;
    }
    .collections .video-controls h2{
        font-size: 2rem;
    }
    .collections .video-controls i{
        font-size: 2rem;
        margin: 0 2rem;
    }
}

@media (max-width: 768px){
    .collections .video-container{
        height: 30rem;
    }
    .collections .video-controls h2{
        font-size: 2rem;
    }
    .collections .video-controls i{
        font-size: 2rem;
        margin: 0 2rem;
    }
}

